.widget {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: black;
  height: 4%;
  border-radius: 9px;
  color: white;
  gap: 10px;
  li {
    list-style: none;
    font-size: 12px;
    border: 1px thin black;
    padding: 10px;
    box-shadow: 0 4px 8px rgb(255, 254, 254, 0.4);
    gap: 10px;
  }
}
